@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'HBIOS-SYS', sans-serif;
}

.Button {
    border-width: 2px;
    border-style: solid;
    border-color: white black black white;
    color: white;
    background-color: #415161;
    text-shadow: 0 0 1px black;
    cursor: pointer;
}