@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'HBIOS-SYS', sans-serif;
}

:root {
    --background: #415161;
    --black: #111111;
    --white: #eeeeee;
}

.Button {
    border-width: 2px;
    border-style: solid;
    border-color: var(--white) var(--black) var(--black) var(--white);
    color: var(--white);
    background-color: var(--background);
    text-shadow: 0 0 1px var(--black);
    cursor: pointer;
    box-shadow: inset 1px 1px 0 0 var(--white), inset -1px -1px 0 0 var(--black);


    &:active:enabled {
        border-color: var(--black) var(--white) var(--white) var(--black);
        box-shadow: inset 1px 1px 0 0 var(--black), inset -1px -1px 0 0 var(--white);
        text-shadow: none;
        transform: translateY(1px);
    }

    &:disabled {
        cursor: not-allowed;
        color: #4f575e;
        background-color: #697785;
        text-shadow: 1px 1px 0 #eeeeee;
    }
}